@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.red {
  color: #fe4040;
  fill: #fe4040;
}

.red:hover {
  color: #fe4040;
  fill: #fe4040;
}

.blue {
  color: #2ab7c0;
  fill: #2ab7c0;
}

.blue:hover {
  color: #2ab7c0;
  fill: #2ab7c0;
}

.white {
  color: white;
}

.green {
  color: #2e995a !important;
}

*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
ul {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 14px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: black;
  cursor: pointer;
}

a:hover {
  color: black;
  text-decoration: none;
}

a.nav-link:hover {
  color: black;
  text-decoration: underline;
}

button {
  background: transparent;
  border: none;
}

button:focus {
  outline: none;
}

strong {
  font-weight: 700;
}

.c-heading {
  font-weight: 700;
}

.c-heading--1 {
  font-size: 35px;
}

@media (min-width: 992px) {
  .c-heading--1 {
    font-size: 55px;
  }
}

.c-heading--2 {
  font-size: 24px;
}

@media (min-width: 992px) {
  .c-heading--2 {
    font-size: 35px;
  }
}

.c-heading--3 {
  font-size: 20px;
}

@media (min-width: 992px) {
  .c-heading--3 {
    font-size: 25px;
  }
}

.c-heading__emoji {
  font-size: 40px;
  position: relative;
  top: 5px;
}

.c-tag {
  border: 1px solid black;
  border-radius: 0;
  font-size: 12px;
  padding: 5px 8px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.c-tag > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-tag.btn:hover {
  color: white;
}

.c-tag.btn:hover:not(.c-tag--active) {
  color: #fe4040;
  border-color: #fe4040;
}

.c-tag.btn:hover:not(.c-tag--active) .c-tag__icon {
  fill: #fe4040;
}

.c-tag--active {
  background-color: #fe4040;
  border-color: #fe4040;
  color: white;
}

.c-tag--active .c-tag__icon {
  fill: #fff;
}

.c-tag__icon {
  max-height: 20px;
  width: 20px;
  margin-right: 5px;
}

.c-tag--grey {
  font-size: 9px;
  color: #635a5a;
  border-color: #635a5a;
}

.c-tag--grey .c-tag__icon {
  max-height: 15px;
  max-width: 15px;
}

.c-tag--small {
  font-size: 9px;
}

.c-card, .c-card-triangle:not(.c-card-triangle--no-hover):hover > .c-card-triangle__content, .c-card-triangle__img, .c-card-triangle__content, .metiers .hero__img {
  -webkit-box-shadow: 15px 15px 35px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 15px 15px 35px 0px rgba(0, 0, 0, 0.2);
}

.c-card {
  background-color: white;
  margin-bottom: 40px;
  padding: 20px;
  -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
}

@media (min-width: 768px) {
  .c-card {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .c-card {
    margin-bottom: 0;
  }
}

.c-card:not(.c-card--no-hover):hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.c-card .c-tag {
  margin-bottom: 10px;
}

.c-card__heading {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.c-card-triangle {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 10px 15px 15px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media (min-width: 576px) {
  .c-card-triangle {
    width: 360px;
  }
}

.c-card-triangle:not(.c-card-triangle--no-hover):hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.c-card-triangle__img {
  position: relative;
  max-width: 100%;
}

.c-card-triangle__bg {
  position: absolute;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 30px;
}

.c-card-triangle__content {
  position: relative;
  background-color: white;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

@media (min-width: 576px) {
  .c-card-triangle__content {
    padding: 30px;
  }
}

.c-card-triangle .c-tag {
  margin-bottom: 20px;
}

.c-card-triangle__heading {
  font-size: 24px;
  font-weight: 700;
}

@media (min-width: 992px) {
  .c-card-triangle__heading {
    font-size: 28px;
  }
}

.c-card-triangle__heading--large {
  font-size: 24px;
}

@media (min-width: 992px) {
  .c-card-triangle__heading--large {
    font-size: 35px;
  }
}

.c-card-triangle--small {
  padding: 0 0 10px 10px;
}

.c-card-triangle--small .c-card-triangle__bg {
  top: 20px;
  right: 10px;
  height: calc(100% - 20px);
}

.c-btn {
  color: white;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 45px;
  padding: 10px 30px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
}

.c-btn > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (min-width: 576px) {
  .c-btn {
    font-size: 20px;
  }
}

.c-btn:hover {
  -webkit-box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.3);
  color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.c-btn--red {
  background-color: #fe4040;
}

.c-btn--red:active, .c-btn--red:focus {
  background-color: #b92c2c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-btn--blue {
  background-color: #2ab7c0;
}

.c-btn--blue:active, .c-btn--blue:focus {
  background-color: #1b757b;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-comment {
  position: relative;
  margin: 0 auto;
  max-width: 310px;
}

@media (min-width: 992px) {
  .c-comment {
    max-width: 380px;
    margin: 0;
    max-width: unset;
  }
}

.c-comment__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fe4040;
  font-size: 19px;
  font-weight: 700;
  font-style: italic;
  min-height: 145px;
}

.c-comment__text::before {
  content: url("/assets/imgs/comment-bg.png");
  position: absolute;
}

@media (min-width: 992px) {
  .c-comment__text {
    min-height: 270px;
    font-size: 25px;
  }
}

.c-comment__person {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.3;
}

.c-block {
  padding: 30px;
  background-color: #eef4f2;
  margin-bottom: 10px;
}

.header {
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .header {
    margin-bottom: 50px;
  }
}

.header__contact {
  background-color: #2ab7c0;
}

.header__contact * {
  color: white;
}

.header__contact *:hover {
  color: white;
}

.header .navbar {
  position: unset;
}

.header .navbar .navbar-toggler {
  border: none;
  padding: 0;
  margin-left: 15px;
}

.header .navbar .navbar-brand {
  width: calc(50vw - 15px);
  margin-right: 0;
}

@media (min-width: 576px) {
  .header .navbar .navbar-brand {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .header .navbar .navbar-brand {
    width: unset;
  }
}

@media (max-width: 991.98px) {
  .header .navbar .navbar-collapse {
    z-index: 1;
    position: absolute;
    background-color: #eef4f2;
    top: 100px;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
  }
}

.header .navbar .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .navbar .navbar-nav .nav-item .nav-link {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s, -webkit-transform 0.5s;
}

@media (min-width: 992px) {
  .header .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
  }
}

.header .navbar .navbar-nav .nav-item .nav-link__icon {
  height: 20px;
  width: 24px;
  margin-left: 5px;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.header .navbar .navbar-nav .nav-item .nav-link--red {
  color: #fe4040;
}

.header .navbar .navbar-nav .nav-item .nav-link--red .nav-link__icon {
  fill: #fe4040;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  text-decoration: none;
  color: #fe4040;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover.nav-link--red {
  color: #b92c2c;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover.nav-link--red .nav-link__icon {
  fill: #b92c2c;
}

.header .search {
  position: relative;
}

.header .search__btn {
  border: none;
  background: transparent;
  padding: 7px;
  outline: none;
}

.header .search__form {
  display: none;
  position: absolute;
  right: -48px;
  top: 0;
}

@media (min-width: 992px) {
  .header .search__form {
    right: 0;
    top: unset;
  }
}

.header .search__input {
  width: calc(50vw - 15px);
  border-radius: 0;
  height: 36px;
  border: 1px solid #fe4040;
  padding-right: 35px;
  text-align: right;
  color: black;
  font-size: 12px;
  outline: none;
}

@media (min-width: 576px) {
  .header .search__input {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .header .search__input {
    width: 400px;
  }
}

.header .search ::-webkit-input-placeholder {
  color: #6a6a6a;
}

.header .search :-ms-input-placeholder {
  color: #6a6a6a;
}

.header .search ::-ms-input-placeholder {
  color: #6a6a6a;
}

.header .search ::placeholder {
  color: #6a6a6a;
}

.header .search__clear {
  cursor: pointer;
  position: absolute;
  top: 11px;
  right: 10px;
}

.header .search--active .search__btn {
  fill: white;
  background-color: #fe4040;
}

.header .search--active .search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 40px 0 100px;
  background-color: black;
}

.footer__logo {
  width: 230px;
}

@media (min-width: 992px) {
  .footer__logo {
    width: auto;
  }
}

.footer__link {
  margin-bottom: 10px;
  display: block;
  font-weight: 700;
  color: white;
  font-size: 16px;
}

@media (min-width: 992px) {
  .footer__link {
    font-size: 20px;
  }
}

.footer__link:hover {
  color: white;
}

.footer__link--red {
  color: #fe4040;
}

.footer__link--red:hover {
  color: #fe4040;
}

.footer__adress {
  color: white;
  font-size: 16px;
}

@media (min-width: 992px) {
  .footer__adress {
    font-size: 18px;
  }
}

.footer__adress__icon {
  margin-right: 10px;
  position: relative;
  top: -2px;
}

.footer__adress__link {
  color: white;
}

.footer__adress__link:hover {
  color: white;
}

.home .c-heading--2 {
  text-align: center;
}

.home .je-me-forme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 992px) {
  .home .je-me-forme {
    margin-bottom: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home .je-me-forme > *:first-child {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

@media (min-width: 992px) {
  .home .je-me-forme > *:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 53%;
            flex: 0 0 53%;
  }
}

.home .je-me-forme__heading {
  margin: 20px 0 20px;
}

@media (min-width: 992px) {
  .home .je-me-forme__heading {
    margin: 60px 0 20px;
  }
}

.home .je-me-forme__text {
  font-size: 18px;
  margin-bottom: 30px;
}

.home .je-me-forme__link {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

@media (min-width: 992px) {
  .home .je-me-forme__link {
    font-size: 25px;
  }
}

.home .je-me-forme__link:hover .je-me-forme__chevron {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.home .je-me-forme__link__text {
  text-decoration: underline;
  font-weight: 700;
}

.home .je-me-forme__link--red {
  color: #fe4040;
  fill: #fe4040;
}

.home .je-me-forme__link--red:hover {
  color: #b92c2c;
  fill: #b92c2c;
}

.home .je-me-forme__link--blue {
  color: #2ab7c0;
  fill: #2ab7c0;
}

.home .je-me-forme__link--blue:hover {
  color: #1b757b;
  fill: #1b757b;
}

.home .je-me-forme__chevron-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
}

@media (min-width: 576px) {
  .home .je-me-forme__chevron-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }
}

.home .je-me-forme__chevron {
  width: 20px;
  -webkit-transition: fill 0.5s, -webkit-transform 0.5s;
  transition: fill 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, fill 0.5s;
  transition: transform 0.5s, fill 0.5s, -webkit-transform 0.5s;
}

@media (min-width: 576px) {
  .home .je-me-forme__chevron {
    width: 36px;
  }
}

.home .je-me-forme__img-container {
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .je-me-forme__img {
  max-height: 200px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .home .je-me-forme__img {
    max-height: 300px;
  }
}

@media (min-width: 992px) {
  .home .je-me-forme__img {
    max-height: unset;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
}

.home .nos-formations {
  margin-top: -70px;
  padding: 180px 0;
}

@media (min-width: 576px) {
  .home .nos-formations {
    padding: 150px 0;
    margin-top: unset;
  }
}

@media (min-width: 1200px) {
  .home .nos-formations {
    padding: 100px 0;
  }
}

.home .nos-formations__bg {
  background-image: url("/assets/imgs/nos-formations-metiers-bg.svg");
  background-size: cover;
  background-position: top center;
  max-width: 1840px;
  margin: auto;
}

.home .nos-formations__cards .c-card-triangle {
  margin: 0 auto 40px;
}

@media (min-width: 992px) {
  .home .nos-formations__cards .c-card-triangle {
    display: inline-block;
    margin-left: 50px;
  }
}

.home .notre-priorite,
.home .financer-a-100 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .home .notre-priorite,
  .home .financer-a-100 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.home .notre-priorite .c-card-triangle,
.home .financer-a-100 .c-card-triangle {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: -10px;
}

@media (min-width: 992px) {
  .home .notre-priorite .c-card-triangle,
  .home .financer-a-100 .c-card-triangle {
    margin-bottom: 0;
    -webkit-transform: translate(80px, 50px);
            transform: translate(80px, 50px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
  }
}

.home .notre-priorite .c-card-triangle__content,
.home .financer-a-100 .c-card-triangle__content {
  padding: 40px;
}

.home .notre-priorite__points,
.home .financer-a-100__points {
  background-color: #eef4f2;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 992px) {
  .home .notre-priorite__points,
  .home .financer-a-100__points {
    padding: 50px 50px 50px 150px;
  }
}

.home .notre-priorite__number,
.home .financer-a-100__number {
  background-color: #fe4040;
  font-size: 55px;
  font-weight: 700;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .home .notre-priorite__number,
  .home .financer-a-100__number {
    margin-right: 30px;
  }
}

.home .notre-priorite__heading,
.home .financer-a-100__heading {
  font-size: 20px;
  font-weight: 700;
}

.home .financer-a-100 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 30px;
}

@media (min-width: 992px) {
  .home .financer-a-100 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home .financer-a-100__number {
  background-color: #2ab7c0;
}

.home .financer-a-100 .c-card-triangle {
  margin-top: 40px;
}

@media (min-width: 992px) {
  .home .financer-a-100 .c-card-triangle {
    margin-top: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 420px;
            flex: 0 0 420px;
    -webkit-transform: translate(-80px, 50px);
            transform: translate(-80px, 50px);
  }
}

.home .financer-a-100 .c-card-triangle__content {
  padding: 60px 40px;
}

.home .financer-a-100__points {
  padding: 30px;
}

@media (min-width: 992px) {
  .home .financer-a-100__points {
    padding: 50px 150px 50px 50px;
  }
}

.home .les-entreprises {
  margin-top: 40px;
  padding: 100px 0;
}

.home .les-entreprises__bg {
  background-image: url("/assets/imgs/les-entreprises-bg.svg");
  background-size: cover;
  background-position: top center;
  max-width: 1840px;
  margin: auto;
}

.home .les-entreprises__logo {
  max-width: 180px;
  max-height: 100px;
  margin: 20px 15px;
}

.home .nos-participants {
  margin-top: 60px;
}

.home .nos-gages {
  padding: 30px 0;
  background-color: #eef4f2;
}

.home .nos-gages__logo {
  display: block;
  max-width: 180px;
  max-height: 100px;
  margin: 0 auto 20px;
}

@media (min-width: 992px) {
  .metiers .c-heading--2 {
    font-size: 30px;
  }
}

.metiers .hero__devenez {
  font-size: 32px;
}

.metiers .hero__text {
  font-size: 18px;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .metiers .hero .c-card-triangle {
    width: auto;
  }
}

.metiers .hero__img {
  position: relative;
  max-width: 100%;
}

.metiers .marche-emploi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #eef4f2;
  padding: 20px 40px;
  margin: 40px 0;
}

@media (min-width: 992px) {
  .metiers .marche-emploi {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px -60px 40px;
  }
}

.metiers .marche-emploi__info-container {
  padding-left: 20px;
  border-left: 2px solid #fe4040;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .metiers .marche-emploi__info-container {
    margin-left: 20px;
    margin-bottom: 0px;
  }
}

.metiers .marche-emploi__number {
  font-size: 40px;
  font-weight: 700;
}

.metiers .marche-emploi__text {
  font-size: 16px;
}

.metiers .mes-missions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .metiers .mes-missions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.metiers .mes-missions .c-card-triangle {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .metiers .mes-missions .c-card-triangle {
    width: 580px;
  }
}

.metiers .mes-missions > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.metiers .mes-missions__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.metiers .mes-missions__list-icon {
  margin-right: 15px;
}

.metiers .mes-missions .ma-remuneration {
  position: relative;
  padding: 20px;
  margin-top: 20px;
}

@media (min-width: 992px) {
  .metiers .mes-missions .ma-remuneration {
    margin-top: 0;
    padding: 20px 80px 20px 20px;
  }
}

.metiers .mes-missions .ma-remuneration::before {
  content: "";
  background-color: #eef4f2;
  z-index: -1;
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 992px) {
  .metiers .mes-missions .ma-remuneration::before {
    top: 0;
    left: -170px;
  }
}

.metiers .mes-missions .remuneration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fe4040;
  padding: 0 10px;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(50%, #eef4f2));
  background: linear-gradient(to right, white, #eef4f2 50%);
  margin-top: 10px;
}

.metiers .mes-missions .remuneration__type {
  text-transform: uppercase;
  width: 95px;
}

.metiers .mes-missions .remuneration__number {
  font-size: 26px;
}

@media (min-width: 992px) {
  .metiers .mes-missions .remuneration__number {
    font-size: 35px;
  }
}

.metiers .mes-missions .remuneration__star {
  margin: 10px 5px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 10px;
}

.metiers .mes-opportunitees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eef4f2;
  padding: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 40px 0;
}

@media (min-width: 992px) {
  .metiers .mes-opportunitees {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px -60px 40px;
  }
}

.metiers .mes-opportunitees > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.metiers .mes-opportunitees__block {
  background-color: #fe4040;
  color: white;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 25px;
  z-index: 1;
}

.metiers .mes-opportunitees__block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
}

@media (min-width: 576px) {
  .metiers .mes-opportunitees__block-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 992px) {
  .metiers .mes-opportunitees__block-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.metiers .mes-opportunitees__block-container .mes-opportunitees__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

@media (min-width: 576px) {
  .metiers .mes-opportunitees__block-container .mes-opportunitees__block {
    min-height: 58px;
  }
}

@media (min-width: 768px) {
  .metiers .mes-opportunitees__block-container .mes-opportunitees__block {
    min-height: unset;
  }
}

@media (min-width: 992px) {
  .metiers .mes-opportunitees__block-container .mes-opportunitees__block {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .metiers .mes-opportunitees__block-container .mes-opportunitees__block {
    font-size: 25px;
  }
}

.metiers .mes-opportunitees__block-container .mes-opportunitees__block:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .metiers .mes-opportunitees__block-container .mes-opportunitees__block:not(:last-child) {
    margin-bottom: 0;
    margin-right: 5px;
  }
}

@media (min-width: 992px) {
  .metiers .mes-opportunitees__block-container .mes-opportunitees__block:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .metiers .mes-opportunitees__block-container .mes-opportunitees__block:not(:last-child) {
    margin-bottom: 23px;
  }
}

.metiers .mes-opportunitees__lines {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: none;
}

@media (min-width: 576px) {
  .metiers .mes-opportunitees__lines {
    margin: -70px 0;
    display: block;
    width: 200px;
  }
}

@media (min-width: 768px) {
  .metiers .mes-opportunitees__lines {
    margin: -90px 0;
    width: 260px;
  }
}

@media (min-width: 992px) {
  .metiers .mes-opportunitees__lines {
    width: auto;
    -webkit-transform: none;
            transform: none;
    margin: 0 -3px 0 -10px;
  }
}

.metiers .mes-opportunitees__lines-mobile {
  margin-right: -5px;
  margin-bottom: 20px;
  height: 220px;
  position: relative;
  top: -32px;
}

@media (min-width: 576px) {
  .metiers .mes-opportunitees__lines-mobile {
    display: none;
  }
}

.metiers .mon-parcours {
  background-color: #2ab7c0;
  padding: 50px 0;
}

.metiers .mon-parcours__card {
  padding: 0;
}

.metiers .mon-parcours__card .c-tag {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 10px;
}

@media (min-width: 576px) {
  .metiers .mon-parcours__card .c-tag {
    margin-bottom: 20px;
    font-size: 12px;
  }
}

.metiers .mon-parcours__card--blue .mon-parcours__heading {
  color: #2ab7c0;
}

.metiers .mon-parcours__card--blue .mon-parcours__aside {
  background-color: #2ab7c0;
}

.metiers .mon-parcours__card--blue-dark .mon-parcours__heading {
  color: #2a90c0;
}

.metiers .mon-parcours__card--blue-dark .mon-parcours__aside {
  background-color: #2a90c0;
}

.metiers .mon-parcours__card--blue-darker .mon-parcours__heading {
  color: #104c85;
}

.metiers .mon-parcours__card--blue-darker .mon-parcours__aside {
  background-color: #104c85;
}

.metiers .mon-parcours__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.metiers .mon-parcours__heading {
  font-weight: 700;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 20px;
}

@media (min-width: 576px) {
  .metiers .mon-parcours__heading {
    font-size: 28px;
  }
}

.metiers .mon-parcours__quote {
  font-style: italic;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 576px) {
  .metiers .mon-parcours__quote {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .metiers .mon-parcours__quote {
    height: 130px;
  }
}

@media (min-width: 1200px) {
  .metiers .mon-parcours__quote {
    font-size: 20px;
    height: 150px;
  }
}

.metiers .mon-parcours__aside {
  width: 100%;
  color: white;
  padding: 10px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

@media (min-width: 576px) {
  .metiers .mon-parcours__aside {
    padding: 20px;
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .metiers .mon-parcours__aside {
    height: 150px;
  }
}

@media (min-width: 1200px) {
  .metiers .mon-parcours__aside {
    font-size: 23px;
  }
}

.metiers .mon-parcours__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
}

.metiers .mon-parcours__icon-time {
  width: 12px;
  margin-right: 5px;
}

.metiers .mon-parcours .c-btn {
  font-size: 16px;
}

@media (min-width: 1200px) {
  .metiers .mon-parcours .c-btn {
    font-size: 20px;
  }
}

.metiers .coup-de-boost {
  margin: 40px 0;
  padding: 40px 0;
  background-color: #eef4f2;
}

.metiers .coup-de-boost .c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.metiers .coup-de-boost .c-tag__icon {
  width: 11px;
}

.formulaire {
  text-align: center;
}

.formulaire__block {
  margin: 30px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

@media (min-width: 576px) {
  .formulaire__block {
    min-height: 505px;
    padding: 20px 40px;
  }
}

@media (min-width: 576px) {
  .formulaire__block > * {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-preferred-size: 40px;
        flex-basis: 40px;
  }
}

.formulaire__block > *:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.formulaire__explications {
  color: #2ab7c0;
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: 992px) {
  .formulaire__explications {
    font-size: 25px;
  }
}

.formulaire__steps-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formulaire__step-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  display: none;
  left: 20px;
  opacity: 0;
}

.formulaire__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

@media (min-width: 576px) {
  .formulaire__input-container {
    width: 420px;
  }
}

.formulaire__step {
  color: red;
}

.formulaire__heading {
  color: red;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

.formulaire__input {
  width: 100%;
  background-color: #eef4f2;
  height: 42px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 0 20px;
  margin-bottom: 15px;
}

.formulaire__input::-webkit-input-placeholder {
  color: #635a5a;
}

.formulaire__input:-ms-input-placeholder {
  color: #635a5a;
}

.formulaire__input::-ms-input-placeholder {
  color: #635a5a;
}

.formulaire__input::placeholder {
  color: #635a5a;
}

.formulaire__input--select {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 8px;
}

.formulaire__input + label.error {
  text-align: left;
  position: relative;
  top: -15px;
  margin-bottom: -15px;
  padding-left: 20px;
}

.formulaire__nav-btn {
  display: none;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

@media (min-width: 768px) {
  .formulaire__nav-btn.active {
    display: block;
  }
}

.formulaire__nav-btn#prevChevron {
  margin-right: auto;
}

.formulaire__nav-btn#nextChevron {
  margin-left: auto;
}

.formulaire__nav-btn #chevron-large {
  -webkit-transition: stroke 0.4s;
  transition: stroke 0.4s;
  stroke: #d7d7d7;
}

.formulaire__nav-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.formulaire__nav-btn:hover #chevron-large {
  stroke: #635a5a;
}

.formulaire__radio {
  cursor: pointer;
  margin-bottom: 5px;
}

.formulaire__radio span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  height: 42px;
}

.formulaire__radio span:hover {
  color: #2ab7c0;
  border-color: #2ab7c0;
}

@media (min-width: 992px) {
  .formulaire__radio span {
    font-size: 20px;
  }
}

.formulaire__radio input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.formulaire__radio input:checked ~ span {
  color: white;
  background-color: #2ab7c0;
  border-color: #2ab7c0;
}

.formulaire__radio input + .error {
  position: absolute;
  bottom: -25px;
  left: 0px;
}

@media (min-width: 992px) {
  .formulaire__radio input + .error {
    left: 20px;
  }
}

.formulaire__text {
  font-size: 15px;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .formulaire__text {
    font-size: 20px;
  }
}

.formulaire__text-small {
  display: none;
  font-size: 12px;
}

@media (min-width: 992px) {
  .formulaire__text-small {
    font-size: 14px;
  }
}

.formulaire__btn {
  margin: 30px auto 0;
  display: none;
}

.formulaire__input + label.error, .formulaire__radio input + .error {
  color: #fe4040;
  opacity: 0;
  -webkit-animation: fade-in 0.4s forwards;
          animation: fade-in 0.4s forwards;
  font-size: 12px;
}

@media (min-width: 992px) {
  .formulaire__input + label.error, .formulaire__radio input + .error {
    font-size: 14px;
  }
}

.formulaire__input + label.error img, .formulaire__radio input + .error img {
  width: 12px;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

@-webkit-keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.offre--smart .hero__label {
  color: #104c85;
}

.offre--smart .parcours__heading {
  color: #104c85;
}

.offre--smart .c-tag {
  color: #104c85;
  border-color: #104c85;
}

.offre .hero {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .offre .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .offre .hero {
    padding-right: 300px;
  }
}

.offre .hero > *:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 210px;
          flex: 0 0 210px;
  margin: 0 0 40px 0;
}

@media (min-width: 768px) {
  .offre .hero > *:first-child {
    margin: 0 60px 0 0;
  }
}

.offre .hero .c-card-triangle__bg {
  height: 140px;
}

.offre .hero__label-icon {
  width: 20px;
  margin-right: 5px;
  position: relative;
  bottom: 2px;
}

.offre .hero__label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.offre .parcours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .offre .parcours {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.offre .parcours > *:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 210px;
          flex: 0 0 210px;
  margin: 0 0 40px 0;
}

@media (min-width: 768px) {
  .offre .parcours > *:first-child {
    margin: 0 60px 0 0;
  }
}

.offre .parcours .c-heading {
  color: #104c85;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.offre .parcours__marquer {
  font-size: 20px;
}

.offre .parcours .c-tag {
  font-weight: 700;
  font-size: 15px;
  margin-top: 10px;
}

.offre .parcours__icon {
  margin-right: 5px;
}

.offre .programme {
  height: 597px;
}

.offre .programme__title {
  font-weight: 700;
  font-size: 18px;
}

.offre .programme__toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 20px;
  outline: none;
  padding-right: 10px;
}

.offre .programme__toggler:not(:first-child) {
  padding-top: 20px;
  border-top: solid 1px black;
}

.offre .programme__toggler.ui-state-active .programme__btn:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.offre .programme__toggler.ui-state-active .programme__btn:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.offre .programme__section {
  padding: 20px 20px 0;
}

.offre .programme__btn {
  position: relative;
  width: 38px;
  height: 38px;
  margin-left: auto;
  border: 2px solid black;
  border-radius: 40px;
  /* Vertical line */
  /* horizontal line */
}

.offre .programme__btn:before, .offre .programme__btn:after {
  content: "";
  position: absolute;
  background-color: black;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.offre .programme__btn:before {
  top: 5px;
  left: 50%;
  width: 2px;
  height: 24px;
  margin-left: -1px;
}

.offre .programme__btn:after {
  top: 50%;
  left: 5px;
  width: 24px;
  height: 2px;
  margin-top: -1px;
}

.offre .programme__list-item {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.offre .programme__list-icon {
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.offre .votre-parcours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: white;
  background-color: #fe4040;
}
/*# sourceMappingURL=style.css.map */