@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap");
.red {
  color: #fe4040;
  fill: #fe4040;
}

.red:hover {
  color: #fe4040;
  fill: #fe4040;
}

.blue {
  color: #2ab7c0;
  fill: #2ab7c0;
}

.blue:hover {
  color: #2ab7c0;
  fill: #2ab7c0;
}

*,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 14px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a.nav-link:hover {
  color: black;
  text-decoration: underline;
}

.c-heading {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 992px) {
  .c-heading {
    font-size: 35px;
  }
}

.c-tag {
  border: 1px solid black;
  border-radius: 0;
  font-size: 12px;
  padding: 5px 8px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.c-tag__icon {
  max-height: 20px;
  max-width: 20px;
  margin-right: 5px;
}

.c-tag--grey {
  font-size: 9px;
  color: #7f7f7f;
  border-color: #7f7f7f;
}

.c-tag--grey .c-tag__icon {
  max-height: 15px;
  max-width: 15px;
}

.c-card {
  position: relative;
  width: 100%;
  padding: 0 10px 15px 15px;
}

@media (min-width: 576px) {
  .c-card {
    width: 360px;
  }
}

.c-card__bg {
  position: absolute;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 30px;
}

.c-card__content {
  position: relative;
  background-color: white;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 15px 15px 35px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 15px 15px 35px 0px rgba(0, 0, 0, 0.2);
}

.c-card .c-tag {
  margin-bottom: 20px;
}

.c-card__heading {
  font-size: 24px;
  font-weight: 700;
}

@media (min-width: 992px) {
  .c-card__heading {
    font-size: 28px;
  }
}

.c-card__heading--large {
  font-size: 24px;
}

@media (min-width: 992px) {
  .c-card__heading--large {
    font-size: 35px;
  }
}

.c-btn {
  color: white;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 45px;
  padding: 10px 30px;
  font-size: 18px;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
}

@media (min-width: 576px) {
  .c-btn {
    font-size: 20px;
  }
}

.c-btn:hover {
  -webkit-box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.3);
  color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.c-btn--red {
  background-color: #fe4040;
}

.c-btn--red:active, .c-btn--red:focus {
  background-color: #b92c2c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-btn--blue {
  background-color: #2ab7c0;
}

.c-btn--blue:active, .c-btn--blue:focus {
  background-color: #1b757b;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-comment {
  position: relative;
  margin: 60px auto 0;
  max-width: 380px;
}

@media (min-width: 992px) {
  .c-comment {
    margin: 0;
    max-width: unset;
  }
}

.c-comment__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fe4040;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  min-height: 270px;
}

.c-comment__text::before {
  content: url("/assets/imgs/comment-bg.png");
  position: absolute;
}

.c-comment__person {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.3;
}

.header {
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .header {
    margin-bottom: 50px;
  }
}

.header__contact {
  background-color: #2ab7c0;
  color: white;
}

.header .navbar .navbar-brand {
  width: 200px;
}

@media (min-width: 992px) {
  .header .navbar .navbar-brand {
    width: unset;
  }
}

.header .navbar .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .navbar-nav .nav-item .nav-link {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s, -webkit-transform 0.5s;
}

@media (min-width: 992px) {
  .header .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
  }
}

.header .navbar .navbar-nav .nav-item .nav-link__icon {
  height: 20px;
  width: 24px;
  margin-left: 5px;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.header .navbar .navbar-nav .nav-item .nav-link--red {
  color: #fe4040;
}

.header .navbar .navbar-nav .nav-item .nav-link--red .nav-link__icon {
  fill: #fe4040;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  text-decoration: none;
  color: #fe4040;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover.nav-link--red {
  color: #b92c2c;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover.nav-link--red .nav-link__icon {
  fill: #b92c2c;
}

.header .search {
  position: relative;
}

.header .search__btn {
  border: none;
  background: transparent;
  padding: 7px;
  outline: none;
}

.header .search__form {
  display: none;
  position: absolute;
}

@media (min-width: 992px) {
  .header .search__form {
    right: 0;
  }
}

.header .search__input {
  border: 1px solid #fe4040;
  padding: 6px 35px;
  text-align: right;
  color: black;
  font-size: 12px;
  outline: none;
}

@media (min-width: 992px) {
  .header .search__input {
    width: 400px;
  }
}

.header .search ::-webkit-input-placeholder {
  color: #eef4f2;
}

.header .search :-ms-input-placeholder {
  color: #eef4f2;
}

.header .search ::-ms-input-placeholder {
  color: #eef4f2;
}

.header .search ::placeholder {
  color: #eef4f2;
}

.header .search__clear {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 10px;
}

.header .search--active .search__btn {
  fill: white;
  background-color: #fe4040;
}

.header .search--active .search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  padding: 40px 0 100px;
  background-color: black;
}

.footer__link {
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.footer__link--red {
  color: #fe4040;
}

.home .je-me-forme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 992px) {
  .home .je-me-forme {
    margin-bottom: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home .je-me-forme > *:first-child {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

@media (min-width: 992px) {
  .home .je-me-forme > *:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 53%;
            flex: 0 0 53%;
  }
}

.home .je-me-forme__heading {
  font-size: 35px;
  font-weight: 700;
  margin: 20px 0 20px;
}

@media (min-width: 992px) {
  .home .je-me-forme__heading {
    font-size: 55px;
    margin: 60px 0 20px;
  }
}

.home .je-me-forme__text {
  font-size: 18px;
  margin-bottom: 30px;
}

.home .je-me-forme__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 576px) {
  .home .je-me-forme__link {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .home .je-me-forme__link {
    font-size: 25px;
  }
}

.home .je-me-forme__link:hover .je-me-forme__chevron {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.home .je-me-forme__link__text {
  text-decoration: underline;
  font-weight: 700;
}

.home .je-me-forme__link--red {
  color: #fe4040;
  fill: #fe4040;
}

.home .je-me-forme__link--red:hover {
  color: #b92c2c;
  fill: #b92c2c;
}

.home .je-me-forme__link--blue {
  color: #2ab7c0;
  fill: #2ab7c0;
}

.home .je-me-forme__link--blue:hover {
  color: #1b757b;
  fill: #1b757b;
}

@media (min-width: 576px) {
  .home .je-me-forme__chevron-container {
    width: 50px;
  }
}

.home .je-me-forme__chevron {
  width: 20px;
  -webkit-transition: fill 0.5s, -webkit-transform 0.5s;
  transition: fill 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, fill 0.5s;
  transition: transform 0.5s, fill 0.5s, -webkit-transform 0.5s;
}

@media (min-width: 576px) {
  .home .je-me-forme__chevron {
    width: 36px;
  }
}

.home .je-me-forme__img {
  max-width: 100%;
}

@media (min-width: 992px) {
  .home .je-me-forme__img {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
}

.home .nos-formations {
  padding: 180px 0;
}

@media (min-width: 576px) {
  .home .nos-formations {
    padding: 150px 0;
  }
}

@media (min-width: 1200px) {
  .home .nos-formations {
    padding: 100px 0;
  }
}

.home .nos-formations__bg {
  background-image: url("/assets/imgs/nos-formations-metiers-bg.svg");
  background-size: cover;
  background-position: top center;
  max-width: 1840px;
  margin: auto;
}

@media (min-width: 992px) {
  .home .nos-formations__cards {
    -webkit-column-count: 2;
            column-count: 2;
    height: 1410px;
  }
}

@media (min-width: 1200px) {
  .home .nos-formations__cards {
    height: 1000px;
    -webkit-column-count: 3;
            column-count: 3;
  }
}

.home .nos-formations__cards .c-card {
  margin: 0 auto 40px;
}

@media (min-width: 992px) {
  .home .nos-formations__cards .c-card {
    display: inline-block;
    margin-left: 50px;
  }
}

.home .notre-priorite,
.home .financer-a-100 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .home .notre-priorite,
  .home .financer-a-100 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.home .notre-priorite .c-card,
.home .financer-a-100 .c-card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .home .notre-priorite .c-card,
  .home .financer-a-100 .c-card {
    margin-bottom: 0;
    -webkit-transform: translate(80px, 50px);
            transform: translate(80px, 50px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
  }
}

.home .notre-priorite .c-card__content,
.home .financer-a-100 .c-card__content {
  padding: 40px;
}

.home .notre-priorite__points,
.home .financer-a-100__points {
  background-color: #eef4f2;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 992px) {
  .home .notre-priorite__points,
  .home .financer-a-100__points {
    padding: 50px 50px 50px 150px;
  }
}

.home .notre-priorite__number,
.home .financer-a-100__number {
  background-color: #fe4040;
  font-size: 55px;
  font-weight: 700;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .home .notre-priorite__number,
  .home .financer-a-100__number {
    margin-right: 30px;
  }
}

.home .notre-priorite__heading,
.home .financer-a-100__heading {
  font-size: 20px;
  font-weight: 700;
}

.home .financer-a-100 {
  margin-top: 30px;
}

.home .financer-a-100__number {
  background-color: #2ab7c0;
}

.home .financer-a-100 .c-card {
  margin-top: 40px;
}

@media (min-width: 992px) {
  .home .financer-a-100 .c-card {
    margin-top: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 420px;
            flex: 0 0 420px;
    -webkit-transform: translate(-80px, 50px);
            transform: translate(-80px, 50px);
  }
}

.home .financer-a-100 .c-card__content {
  padding: 60px 40px;
}

.home .financer-a-100__points {
  padding: 30px;
}

@media (min-width: 992px) {
  .home .financer-a-100__points {
    padding: 50px 150px 50px 50px;
  }
}

.home .les-entreprises {
  margin-top: 40px;
  padding: 100px 0;
}

.home .les-entreprises__bg {
  background-image: url("/assets/imgs/les-entreprises-bg.svg");
  background-size: cover;
  background-position: top center;
  max-width: 1840px;
  margin: auto;
}

.home .les-entreprises__logo {
  max-width: 180px;
  max-height: 100px;
  margin: 20px 15px;
}

.home .nos-participants {
  margin-top: 60px;
}

.home .nos-gages {
  margin-top: 40px;
  padding: 40px 0;
  background-color: #eef4f2;
}

.home .nos-gages__logo {
  display: block;
  max-width: 180px;
  max-height: 100px;
  margin: 0 auto 20px;
}
/*# sourceMappingURL=style.css.map */