.a-propos {
  .hero {
    margin-bottom: 40px;
    &__text {
      font-size: 18px;
      margin-top: 20px;
    }
  }
  .pourquoi {
    .c-card-triangle {
      margin: auto;
      @include media-breakpoint-up(lg) {
        max-width: unset;
      }
    }
  }

  .notre-priorite {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      align-items: start;
    }
    .c-card-triangle {
      height: fit-content;
      margin-bottom: -10px;
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        transform: translate(80px, 50px);
        flex: 0 0 350px;
      }
      .c-heading {
        @include media-breakpoint-up(sm) {
          font-size: 35px;
        }
      }
      &__content {
        padding: 40px;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 200px;
        @include media-breakpoint-up(sm) {
          height: 300px;
        }
      }
      &__heading {
        margin-bottom: 0;
      }
    }
    &__points {
      background-color: $grey;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include media-breakpoint-up(lg) {
        padding: 50px 50px 50px 150px;
      }
    }
    &__number {
      background-color: $red;
      font-size: 55px;
      font-weight: 700;
      color: white;
      flex: 0 0 70px;
      width: 70px;
      height: 70px;
      border-radius: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      @include media-breakpoint-up(sm) {
        margin-right: 30px;
      }
    }
    &__heading {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
