$red: #fe4040;
$red-dark: #b92c2c;
$blue: #2ab7c0;
$blue-dark: #1b757b;
$grey: #eef4f2;
$grey-dark: #7f7f7f;

.red {
  color: $red;
  fill: $red;
  &:hover {
    color: $red;
    fill: $red;
  }
}
.blue {
  color: $blue;
  fill: $blue;
  &:hover {
    color: $blue;
    fill: $blue;
  }
}
.white {
  color: white;
}
