$red: #fe4040;
$blue: #2ab7c0;
$grey-dark: #7f7f7f;
$grey: #eef4f2;

.red {
  color: $red;
  fill: $red;
  &:hover {
    color: $red;
    fill: $red;
  }
}
.blue {
  color: $blue;
  fill: $blue;
  &:hover {
    color: $blue;
    fill: $blue;
  }
}
