// Common classes begin with "c-" prefix

// HEADINGS
.c-heading {
  font-weight: 700;
  &--1 {
    font-size: 35px;
    @include media-breakpoint-up(lg) {
      font-size: 55px;
    }
  }
  &--2 {
    font-size: 24px;
    @include media-breakpoint-up(lg) {
      font-size: 35px;
    }
  }
  &--3 {
    font-size: 20px;
    @include media-breakpoint-up(lg) {
      font-size: 25px;
    }
  }
  &__emoji {
    font-size: 40px;
    position: relative;
    top: 5px;
  }
}

// TAGS
.c-tag {
  border: 1px solid black;
  border-radius: 0;
  font-size: 12px;
  padding: 5px 8px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  width: fit-content;
  & > * {
    flex: 0 0 auto;
  }
  &.btn {
    &:hover {
      color: white;
      &:not(.c-tag--active) {
        color: $red;
        border-color: $red;
        .c-tag__icon {
          fill: $red;
        }
      }
    }
  }
  &--active {
    background-color: $red;
    border-color: $red;
    color: white;
    .c-tag__icon {
      fill: $white;
    }
  }
  &__icon {
    max-height: 20px;
    width: 20px;
    margin-right: 5px;
  }
  &--grey {
    font-size: 9px;
    color: $grey-dark;
    border-color: $grey-dark;
    .c-tag__icon {
      max-height: 15px;
      max-width: 15px;
    }
  }
  &--small {
    font-size: 9px;
  }
}

// CARDS
%block-shadow {
  box-shadow: 15px 15px 35px 0px rgba(0, 0, 0, 0.2);
}

.c-card {
  background-color: white;
  @extend %block-shadow;
  margin-bottom: 40px;
  padding: 20px;
  transition: transform 0.5s, box-shadow 0.5s;
  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
  }
  &:not(.c-card--no-hover):hover {
    transform: translateY(-5px);
  }
  .c-tag {
    margin-bottom: 10px;
  }
  &__heading {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

// CARDS with TRIANGLE
.c-card-triangle {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 10px 15px 15px;
  transition: transform 0.5s;
  @include media-breakpoint-up(sm) {
    max-width: 360px;
  }
  &:not(.c-card-triangle--no-hover):hover {
    transform: translateY(-5px);
    & > .c-card-triangle__content {
      @extend %block-shadow;
    }
  }
  &__img {
    @extend %block-shadow;
    position: relative;
    width: 100%;
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 30px;
  }
  &__content {
    position: relative;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @extend %block-shadow;
    transition: box-shadow 0.5s;
    @include media-breakpoint-up(sm) {
      padding: 30px;
    }
  }
  .c-tag {
    margin-bottom: 10px;
  }
  &__heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    @include media-breakpoint-up(lg) {
      font-size: 28px;
    }
    &--large {
      font-size: 24px;
      @include media-breakpoint-up(lg) {
        font-size: 35px;
      }
    }
  }
  &--small {
    padding: 0 0 10px 10px;
    .c-card-triangle__bg {
      top: 20px;
      right: 10px;
      height: calc(100% - 20px);
    }
  }
}

// BUTTONS
.c-btn {
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  border-radius: 45px;
  padding: 10px 28px;
  font-size: 15px;
  text-align: center;
  transition: box-shadow 0.5s, transform 0.5s;
  & > * {
    flex: 0 0 auto;
  }
  @include media-breakpoint-up(sm) {
    font-size: 20px;
  }
  &:hover {
    box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.3);
    color: white;
    transform: scale(1.05);
  }
  &--red {
    background-color: $red;
    &:active,
    &:focus {
      background-color: $red-dark;
      box-shadow: none;
    }
  }
  &--blue {
    background-color: $blue;
    &:active,
    &:focus {
      background-color: $blue-dark;
      box-shadow: none;
    }
  }
}

// COMMENTS
.c-comment {
  position: relative;
  margin: 0 auto;
  max-width: 310px;
  @include media-breakpoint-up(lg) {
    max-width: 380px;
    margin: 0;
    max-width: unset;
  }
  &__text {
    display: flex;
    align-items: center;
    color: $red;
    font-size: 19px;
    font-weight: 700;
    font-style: italic;
    min-height: 145px;
    &::before {
      content: url("/assets/imgs/comment-bg.png");
      position: absolute;
    }
    @include media-breakpoint-up(lg) {
      min-height: 270px;
      font-size: 25px;
    }
  }
  &__person {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.3;
  }
}

// BLOCK
.c-block {
  padding: 30px;
  background-color: $grey;
  margin-bottom: 15px;
}
