.header {
  margin-bottom: 50px;
  &__contact {
    background-color: $blue;
    color: white;
  }
  .navbar-expand-lg {
    .navbar-nav {
      .nav-link {
        display: flex;
        @media (min-width: 992px) {
          padding: 0 1rem;
        }
        &__icon {
          height: 20px;
          width: 24px;
          margin-left: 5px;
        }
      }
    }
  }
}

.footer {
  padding: 40px 0 100px;
  background-color: black;
  &__link {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: white;
    &--red {
      color: $red;
    }
  }
}
