.header {
  margin-bottom: 50px;
  &__contact {
    background-color: $bleu;
    color: white;
  }
  .navbar-expand-lg {
    .navbar-nav {
      .nav-link {
        display: flex;
        @media (min-width: 992px) {
          padding: 0 1rem;
        }
        &__icon {
          margin-left: 5px;
        }
      }
    }
  }
}
