.header {
  margin-bottom: 50px;
  &__contact {
    background-color: $blue;
    color: white;
  }
  .navbar {
    .navbar-nav {
      .nav-item {
        display: flex;
        align-items: center;
        .nav-link {
          display: flex;
          transition: transform 0.5s, color 0.5s;
          @media (min-width: 992px) {
            padding: 0 1rem;
          }
          &__icon {
            height: 20px;
            width: 24px;
            margin-left: 5px;
            transition: fill 0.5s;
          }
          &:hover {
            transform: translateX(5px);
            text-decoration: none;
            color: $red;
            &.red {
              color: $red-dark;
              fill: $red-dark;
            }
          }
        }
      }
    }
  }
  .search {
    position: relative;
    &__btn {
      border: none;
      background: transparent;
      padding: 7px;
      outline: none;
    }
    &__form {
      display: none;
      position: absolute;
      right: 0;
    }
    &__input {
      border: 1px solid $red;
      padding: 5px 35px;
      width: 400px;
      text-align: right;
      color: black;
      font-size: 12px;
      outline: none;
    }
    ::placeholder {
      color: $grey;
    }
    &__clear {
      cursor: pointer;
      position: absolute;
      top: 7px;
      right: 10px;
    }
    &--active {
      .search {
        &__btn {
          fill: white;
          background-color: $red;
        }
        &__form {
          display: flex;
        }
      }
    }
  }
}

.footer {
  padding: 40px 0 100px;
  background-color: black;
  &__link {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: white;
    &--red {
      color: $red;
    }
  }
}
