.header {
  margin-bottom: 20px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 50px;
  }
  &__contact {
    background-color: $blue;
    & * {
      color: white;
      &:hover {
        color: white;
      }
    }
  }
  .navbar {
    position: unset;
    .navbar-toggler {
      border: none;
      padding: 0;
      margin-left: 15px;
    }
    .navbar-brand {
      width: calc(50vw - 15px);
      margin-right: 0;
      @include media-breakpoint-up(sm) {
        width: 200px;
      }
      @include media-breakpoint-up(lg) {
        width: unset;
      }
    }
    .navbar-collapse {
      @include media-breakpoint-down(md) {
        z-index: 1;
        position: absolute;
        background-color: $grey;
        top: 100px;
        left: 0;
        width: 100%;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
      }
    }
    .navbar-nav {
      .nav-item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .nav-link {
          color: black;
          display: flex;
          align-items: center;
          transition: transform 0.5s, color 0.5s;
          @include media-breakpoint-up(lg) {
            padding: 0 1rem;
          }
          @include media-breakpoint-up(xl) {
            font-size: 18px;
          }
          &__icon {
            height: 20px;
            width: 24px;
            margin-left: 5px;
            transition: fill 0.5s;
          }
          &--red {
            color: $red;
            .nav-link__icon {
              fill: $red;
            }
          }
          &:hover {
            transform: translateX(5px);
            text-decoration: none;
            color: $red;
            &.nav-link--red {
              color: $red-dark;
              .nav-link__icon {
                fill: $red-dark;
              }
            }
          }
        }
      }
    }
  }
  .search {
    position: relative;
    &__btn {
      border: none;
      background: transparent;
      padding: 7px;
      outline: none;
    }
    &__form {
      display: none;
      position: absolute;
      right: -48px;
      top: 0;
      @include media-breakpoint-up(lg) {
        right: 0;
        top: unset;
      }
    }
    &__input {
      width: calc(50vw - 15px);
      border-radius: 0;
      height: 36px;
      border: 1px solid $red;
      padding-right: 35px;
      text-align: right;
      color: black;
      font-size: 12px;
      outline: none;
      @include media-breakpoint-up(sm) {
        width: 300px;
      }
      @include media-breakpoint-up(md) {
        width: 400px;
      }
    }
    ::placeholder {
      color: #6a6a6a;
    }
    &__clear {
      cursor: pointer;
      position: absolute;
      top: 11px;
      right: 10px;
    }
    &--active {
      .search {
        &__btn {
          fill: white;
          background-color: $red;
        }
        &__form {
          display: flex;
        }
      }
    }
  }
}

.footer {
  padding: 40px 0 100px;
  background-color: black;
  &__logo {
    width: 230px;
    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }
  &__link {
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
    color: white;
    font-size: 16px;
    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
    &:hover {
      color: white;
    }
    &--red {
      color: $red;
      &:hover {
        color: $red;
      }
    }
  }
  &__adress {
    color: white;
    font-size: 16px;
    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
    &__icon {
      margin-right: 10px;
      position: relative;
      top: -2px;
    }
    &__link {
      color: white;
      &:hover {
        color: white;
      }
    }
  }
}
