.toeic {
  .hero {
    &__text {
      font-size: 18px;
      margin: 20px 0;
    }
    .c-tag {
      &__icon {
        width: 11px;
      }
    }
  }
  .formulaire {
    color: white;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__input {
      background-color: white;
      font-size: 18px;
    }
    &__heading {
      color: white;
      font-size: 18px;
      text-transform: uppercase;
    }
    &__info {
      margin-top: 10px;
      font-size: 10px;
    }
  }
}
